html, body{
    background-color:skyblue ;
    margin:0;    padding: 0;
    font-family: 'Poppins' ;
    height: 100%;
}
.title{
    color: deeppink;
    font-size: xx-large;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55%;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column {
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
}

.column img {
    width: 100% !important;
    height: auto !important;
}
@media (max-width: 1200px) {
    .column {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    .column {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    .column{
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    .column {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}
input[type="file"] {
    display: none;
}
input[type="submit"]{
    display: none;
}
.custom-file-upload {
    border: 3px solid ;
    border-color: hotpink;
    border-radius: 10px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
i{
    color: hotpink;
}
label{
    color: deeppink;

}
